@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';

/* 
    font-family: 'Merienda', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rajdhani', sans-serif;
*/

.font1 {
    font-family: 'Merienda', serif;
}

.font2 {
    font-family: 'Playfair Display', serif;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

body, html {
  background-color: black;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  margin:0;
  padding:0;
}

/* Navbar */
.menu a, .menu label {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.calender {
  width: 26px;
  height: 26px;
}

/* Header (const page) */


/* Home page */
.bg-home {
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  height: 100vh;
  filter: grayscale(65%);
}

.bg-home {
  background-image: url(assets/backgrounds/slides-home-2.jpg);
  background-position: left;
}

/* Media Queries */
@media screen and (min-device-width: 1024px) {

    /* Backgrounds  */
    .bg-home {
      background-attachment: scroll;
    }
  }
