@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';

* {
  font-family: 'Rajdhani', sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Navbar */
.menu a, .menu label {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.calender {
  width: 26px;
  height: 26px;
}