@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';

* {
  font-family: 'Rajdhani', sans-serif;
}

.font2 {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}


/* Navbar */

.menu a, .menu label {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Body Content */

.seperator {
  height: 1px;
}

.sectionBg {
  height: 55%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5019257703081232) 6%, rgba(0,0,0,0.7932422969187676) 16%, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 41%);
}

hr {
  border-color: rgb(96, 96, 96);
}

/* Backgrounds */
.background1,
.background2,
.background3,
.background4,
.carousel-item {
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  min-height: 100vh;
  
}

.centerOfBg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background1 {
  background-image: url("assets/slides-home-1.jpg");
  background-position: center;
}

.background2 {
  background-image: url("assets/slides-home-2.jpg");
  background-position: center;
}

.background3 {
  background-image: url("assets/slides-home-3.jpg");
  background-position: center;
}

.background4 {
  background-image: url("assets/slides-home-4.jpg");
  background-position: center;
}

.background5 {
  background-image: url("assets/slides-home-1.jpg");
  background-position: right;
}

.background6 {
  background-image: url("assets/slides-home-2.jpg");
  background-position: right;
}

.background7 {
  background-image: url("assets/slides-home-3.jpg");
  background-position: right;
}

.background8 {
  background-image: url("assets/slides-home-4.jpg");
  background-position: right;
}

.background9 {
  background-image: url("assets/slides-home-1.jpg");
  background-position: left;
}

.background10 {
  background-image: url("assets/slides-home-2.jpg");
  background-position: left;
}

.background11 {
  background-image: url("assets/slides-home-3.jpg");
  background-position: left;
}

.background12 {
  background-image: url("assets/slides-home-4.jpg");
  background-position: left;
}

.titleAndLogo {
  opacity: 0;
  transition: opacity 0.5s ease; /* Add a smooth transition effect */
}



/* Media Queries */
@media screen and (max-device-height: 1000px) {

  /* Backgrounds  */
  .background1,
  .background2,
  .background3,
  .background4,
  .carousel-item,
  .titleAndLogo {
    background-attachment: scroll;
  }
}

@media screen and (max-device-height: 740px) {

    .sectionBg {
      height: 75% !important;
  }
}

/* Utilities */
.downIcon {
  left: 50%;
  z-index: -4;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s;
}

.fade-in-2 {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse-opacity {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.calender {
  width: 27px;
  height: 27px;
  animation: pulse-opacity 4s infinite; /* Adjust the duration as needed */
}

@keyframes pulse-opacity {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: .9;
  }
}