/* Home page */
.bg-slide-1, .bg-slide-2, .bg-slide-3 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    height: calc(100vh - 64px);
    filter: grayscale(65%);
  }
  
.centerOfBg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  
  .bg-slide-1 {
    background-image: url(../img/backgrounds/slides-home-1.jpg);
    background-position: left;
  }
  
  .bg-slide-2 {
    background-image: url(../img/backgrounds/slides-home-2.jpg);
    background-position: left;
  }
  
  .bg-slide-3 {
    background-image: url(../img/backgrounds/slides-home-3.jpg);
    background-position: right;
  }

  /* Embla Carousel */

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }